<div class= "col-lg-10 mx-auto">
 <h1 class="text-center mt-5 mb-4"> <%= @title_text %></h1>
 <p><%= @paragraph %></p> 
  <p class="lead">Learning Ruby on Rails is an exciting journey for anyone interested in web development. Rails, often simply referred to as "Rails," is a popular and powerful open-source web application framework written in the Ruby programming language. It's known for its simplicity, convention over configuration philosophy, and the rapid development it enables.

    When you embark on the journey of learning Rails, you'll likely encounter some key concepts and tools:

    Ruby: Before diving into Rails, it's crucial to have a solid understanding of the Ruby programming language since Rails is built on top of it. Ruby is known for its elegant syntax and readability, making it a great choice for both beginners and experienced developers.

    MVC Architecture: Rails follows the Model-View-Controller (MVC) architectural pattern. Understanding MVC is essential for building robust and maintainable web applications. Models represent the data, views handle the presentation, and controllers manage the application's logic..
  </p>
</div>
