<div class= "col-lg-10 mx-auto">
  <h1 class="text-center mt-5 mb-4"> <%= @title_text %></h1>
    <div  class="text-center ">
     <p> i'm Learning Rails! , its nice!</p>
      <div class="gradient-form">
        
      </div>
    </div>
 </div>
