.navbar{
  background-color:#00D1B2;
}
.scroll-none{
  overflow-x: hidden !important;
}

.custom-background {
  background-image: url('/assets/images/bg1.jpg'); /* Replace 'background.jpg' with the actual filename of your background image */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: #f47e08;
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #077a77;
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .btn {
    background-color:#077a77 !important;
  
  }